#phones-template-list {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    position: relative;
    display: block;
    height: auto;
}

#phones-template-list div.phone img {
    margin-bottom: 1px;
}

#phones-template-list div.phone {
    float: left;
    padding: 8px 11px;
    margin: 5px;
    line-height: 14px;
    color: #333;
    font-size: 10px;
    font-family: "Helvetica Neue",sans-serif;
    height: 130px;
    width: 140px;
    overflow: hidden;
    border: #cecece;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    cursor: pointer;
}

.x-ie6 #phones-template-list div.phone,
.x-ie7 #phones-template-list div.phone,
.x-ie8 #phones-template-list div.phone {
    border-top: none;
    padding: 3px 2px;
    margin: 2px;
}

#phones-template-list div.phone-hover {
    background-color: #eee;
}

#phones-template-list .x-item-selected {
    background-color: #D3E1F1 !important;
}

#phones-template-list div.phone strong {
    color: #000;
    display: block;
}

#phones-template-list div.phone span {
    color: #999;
}
